@import "tailwindcss";

@font-face {
  font-family: "Faruma";
  src: url("./assets/fonts/Faruma.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-background-ui: #7C3AED;
  --color-logo-primary: #A78BFA;
  --color-logo-stroke: #2E1065;
  --color-text-stroke: #f6f6f6;
  --color-mid-gray: #808080;
}

:root {
  /* Typography */
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* Colors - Light Theme */
  /* --color-text: #0f0f0f;
  --color-background: #fbfbfb;
  --color-logo-primary: #A78BFA;
  --color-logo-stroke: #2E1065;
  --color-text-stroke: #f6f6f6; */

  /* Typography settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Apply colors */
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html[lang^="dv"] body,
html[lang^="dv"] body * {
  font-family:
    "Faruma",
    "Noto Sans Thaana",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors - Dark Theme */
    --color-text: #fbfbfb;
    --color-background: #2c2b29;
    --color-logo-primary: #A78BFA;
    --color-logo-stroke: #DDD6FE;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px var(--color-text-stroke);
  }
}

.logo-primary {
  fill: var(--color-logo-primary);
}

.logo-stroke {
  fill: var(--color-logo-stroke);
  stroke: var(--color-logo-stroke);
  stroke-width: 1;
}
